fastapi~=0.141.1
aiohttp
uvicorn[standard]
pydantic
pydantic-settings~=2.15.0
azure-storage-blob
azure-cosmos
azure-search-documents
openai~=2.53.0
python-dotenv
azure-core~=1.41.0
python-multipart
PyPDF2
python-docx
langchain
langchain-openai
tiktoken
langchain_text_splitters
python-jose[cryptography]